## 전국푸드트럭허가구역 표준데이타

- 전국 / 지자체 푸드트럭 허가구역 은 갯수
- 전국 / 지자체별 푸드트럭 운영대수

In [62]:
import numpy as np
import pandas as pd

pd_data = pd.read_csv('전국푸드트럭허가구역표준데이터.csv', encoding='cp949')

In [64]:
# pd_data.head(
# print(pd_data)
#print(pd_data.dtypes)
num_descr_df = pd_data.describe()
# print(num_descr_df.columns)
# print(pd_data.columns)

lista = list(pd_data.columns)
print(lista)
for e in num_descr_df.columns:
    try:
        lista.remove(e)
    except:
        print(e)
print(len(pd_data.columns),len(lista))

['허가구역명', '장소유형', '시도명', '시군구명', '소재지도로명주소', '소재지지번주소', '위도', '경도', '푸드트럭운영대수', '허가구역사용료', '허가구역운영시작일자', '허가구역운영종료일자', '허가구역휴무일', '허가구역평일운영시작시각', '허가구역평일운영종료시각', '허가구역주말운영시작시각', '허가구역주말운영종료시각', '1월운영시작시각', '1월운영종료시각', '2월운영시작시각', '2월운영종료시각', '3월운영시작시각', '3월운영종료시각', '4월운영시작시각', '4월운영종료시각', '5월운영시작시각', '5월운영종료시각', '6월운영시작시각', '6월운영종료시각', '7월운영시작시각', '7월운영종료시각', '8월운영시작시각', '8월운영종료시각', '9월운영시작시각', '9월운영종료시각', '10월운영시작시각', '10월운영종료시각', '11월운영시작시각', '11월운영종료시각', '12월운영시작시각', '12월운영종료시각', '판매제한품목', '관리기관명', '관리기관전화번호', '데이터기준일자', '제공기관코드', '제공기관명']
47 43

In [39]:
# 날짜는 datetime으로
x = pd_data['허가구역운영시작일자'].astype(np.datetime64)
print(x.dt.year)
# print(x.dt.year)
# print(x.dt.month)
# print(x.dt.day)

0      2018
1      2018
2      2019
3      2020
4      2022
       ...
337    2021
338    2021
339    2022
340    2022
341    2022
Name: 허가구역운영시작일자, Length: 342, dtype: int64

In [49]:
# pd_data['허가구역휴무일'].value_counts()
# category 형태로 변경됨
# 항목별로 코드화 작업

# 데이터 분석을 상관없으나 머신러닝의 경우, 숫자 code화
x = pd_data['허가구역휴무일'].astype('category')
# print(x)
# print(x.cat.codes)
df1 = pd.DataFrame({'label':x, 'codes':x.cat.codes})
df1

           label  codes
0    토요일+일요일+공휴일     51
1             평일     54
2             평일     54
3    월+화+수+목+토+일     36
4            토+일     48
..           ...    ...
337           없음     23
338           없음     23
339           없음     23
340           없음     23
341           없음     23

[342 rows x 2 columns]

In [54]:
# 오름차순으로 정렬
# >>> df.sort_values(by='col1', ascending=False, na_position='first')
# bystr or list of str

# 코드 값을 기준으로 정렬을 시킴
# df1.sort_values('codes')
df1.sort_values(['codes','label'], ascending=False)

                  label  codes
217             화요일+수요일     57
5           화+수+목+금+토+일     56
101         화+수+목+금+토+일     56
199               행사종료일     55
200               행사종료일     55
..                  ...    ...
115  1개월 내 3~4일 비정기적 휴무      1
68                    -      0
69                    -      0
70                    -      0
71                    -      0

[342 rows x 2 columns]

In [7]:
# pd_data['시도명']d.ist()=

444.0

In [27]:
lista = list(pd_data.columns)
for i in enumerate(pd_data.columns):
    print(i)
# pd_data

(0, '허가구역명')
(1, '장소유형')
(2, '시도명')
(3, '시군구명')
(4, '소재지도로명주소')
(5, '소재지지번주소')
(6, '위도')
(7, '경도')
(8, '푸드트럭운영대수')
(9, '허가구역사용료')
(10, '허가구역운영시작일자')
(11, '허가구역운영종료일자')
(12, '허가구역휴무일')
(13, '허가구역평일운영시작시각')
(14, '허가구역평일운영종료시각')
(15, '허가구역주말운영시작시각')
(16, '허가구역주말운영종료시각')
(17, '1월운영시작시각')
(18, '1월운영종료시각')
(19, '2월운영시작시각')
(20, '2월운영종료시각')
(21, '3월운영시작시각')
(22, '3월운영종료시각')
(23, '4월운영시작시각')
(24, '4월운영종료시각')
(25, '5월운영시작시각')
(26, '5월운영종료시각')
(27, '6월운영시작시각')
(28, '6월운영종료시각')
(29, '7월운영시작시각')
(30, '7월운영종료시각')
(31, '8월운영시작시각')
(32, '8월운영종료시각')
(33, '9월운영시작시각')
(34, '9월운영종료시각')
(35, '10월운영시작시각')
(36, '10월운영종료시각')
(37, '11월운영시작시각')
(38, '11월운영종료시각')
(39, '12월운영시작시각')
(40, '12월운영종료시각')
(41, '판매제한품목')
(42, '관리기관명')
(43, '관리기관전화번호')
(44, '데이터기준일자')
(45, '제공기관코드')
(46, '제공기관명')

In [67]:
sub_data = pd_data[['시도명','푸드트럭운영대수']]
sub_data.groupby('시도명').sum()

         푸드트럭운영대수
시도명
강원도          25.0
경기도         136.0
경상남도         57.0
경상북도         17.0
광주광역시        14.0
대구광역시         4.0
대전광역시        12.0
부산광역시        17.0
서울특별시        35.0
울산광역시         1.0
인천광역시         9.0
전라남도         29.0
전라북도         10.0
제주특별자치도      41.0
충청남도         30.0
충청북도          7.0

In [66]:
pd_data = pd_data[['시도명','푸드트럭운영대수']].daescti

AttributeError: 'DataFrame' object has no attribute 'daescti'