[문제]

* pd_iris 로부터, petal_length의 평균치를 구하고자 한다.

- petal_length의 결측치, 오류치, 이상치(1.5*IQR 바깥)의 갯수는 각 몇개인가.

- 결측치, 오류치, 이상치를 어떻게 처리할지 결정하고, (삭제, 다른 적절한 값으로 대체) 결정의 간단한 이유를 제시하시오.

- 결측치, 오류치, 이상치를 처리 하시오.

- petal_length의 평균치를 구하시오.

In [71]:
import numpy as np
import pandas as pd
import random
 

random.seed(123)
pd_iris = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data')

pd_iris.columns = ['petal_length', 'petal_width', 'sepal_length', 'sepal_width', 'class']

rand_axis0 = [random.randint(0,150) for _ in range(5)]

rand_axis1 = [random.randint(0, 4) for _ in range(5)]

pd_iris.iloc[rand_axis0, rand_axis1] = np.NaN

pd_iris 

rand_axis0 = [random.randint(0,150) for _ in range(5)]

rand_axis1 = [random.randint(0, 4) for _ in range(5)]

pd_iris.iloc[rand_axis0, rand_axis1] = 123.4 + random.randint(0,4)/10

pd_iris

df1 = pd.DataFrame(np.arange(100, 120).reshape(4,5), dtype='str')
df1

     0    1    2    3    4
0  100  101  102  103  104
1  105  106  107  108  109
2  110  111  112  113  114
3  115  116  117  118  119

In [72]:
#petal_length의 평균
petal_length_mean = pd_iris['petal_length'].mean()
print("petal_length 평균:", petal_length_mean)

petal_length 평균: 5.843448275862069

In [74]:
# 결측치 개수 구하기
num_missing_values = pd_iris['petal_length'].isnull().sum()
print("결측치 개수:", num_missing_values)

# 이상치 개수 구하기
q1 = pd_iris['petal_length'].quantile(0.25)
q3 = pd_iris['petal_length'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - 1.5*iqr
upper_bound = q3 + 1.5*iqr
num_outliers = len(pd_iris[(pd_iris['petal_length'] < lower_bound) | (pd_iris['petal_length'] > upper_bound)])
print("이상치 개수:", num_outliers)

# 오류치 개수 구하기
num_errors = len(pd_iris[~pd_iris['petal_length'].apply(lambda x: isinstance(x, (int, float)))])
print("오류치 개수:", num_errors)

결측치 개수: 4
이상치 개수: 0
오류치 개수: 0

In [65]:
# 결측치를 평균값으로 대체하기
petal_length_mean = pd_iris['petal_length'].mean()
pd_iris['petal_length'].fillna(petal_length_mean, inplace=True)

In [66]:
petal_length_mean = pd_iris['petal_length'].mean()
print("petal_length의 평균:", petal_length_mean)

petal_length의 평균: 5.843448275862068

In [68]:
pd_iris.describe()

       petal_length  petal_width  sepal_length  sepal_width
count    149.000000   149.000000    149.000000   145.000000
mean       5.843448     7.087248      7.831544     1.211724
std        0.813386    21.750788     21.675859     0.761258
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.500000     1.300000
75%        6.400000     3.400000      5.200000     1.800000
max        7.900000   123.400000    123.400000     2.500000

In [82]:
df1.columns = ['petal_length','petal_width','sepal_length','sepal_width','class']
df1
frame = [pd_iris,df1]
df2 = pd.concat(frame, axis=0)
df2 = df2.reset_index()
df2

     index petal_length petal_width sepal_length sepal_width           class
0        0          4.9         3.0          1.4         0.2     Iris-setosa
1        1          4.7         3.2          1.3         0.2     Iris-setosa
2        2          4.6         3.1          1.5         0.2     Iris-setosa
3        3          5.0         3.6          1.4         0.2     Iris-setosa
4        4          5.4         3.9          1.7         0.4     Iris-setosa
..     ...          ...         ...          ...         ...             ...
148    148          5.9         3.0          5.1         1.8  Iris-virginica
149      0          100         101          102         103             104
150      1          105         106          107         108             109
151      2          110         111          112         113             114
152      3          115         116          117         118             119

[153 rows x 6 columns]